<%= form_for([@presentation, PresentationQuestion.new]) do |form| %>
  <p>
    <%= form.label :text, "What's your question?" %>
  </p>
  <p>
    <%= form.text_area :text %>
  </p>
  <%= form.submit "Submit your question" %>
<% end %>
  
