*#
*-
*.#*
.idea/
tmp/
log/
.DS_Store
db/*.sqlite3
.eprj
db/schema.rb
nbproject/*
.rvmrc
config/database.yml
vendor/bundler_gems/environment.rb
vendor/bundler_gems/ruby/1.8/environment.rb
vendor/bundler_gems/ruby/1.8/gems
vendor/bundler_gems/ruby/1.8/doc
vendor/bundler_gems/ruby/1.8/specifications
bin/
