*#
*-
*.#*
*.swp
*~
.DS_Store
.eprj
.idea/
.rvmrc
bin/
config/database.yml
config/setup_load_paths.rb
db/*.sqlite3
db/schema.rb
log/
nbproject/*
tmp/
vendor/bundler_gems/environment.rb
vendor/bundler_gems/ruby/1.8/environment.rb
vendor/bundler_gems/ruby/1.8/gems
vendor/bundler_gems/ruby/1.8/doc
vendor/bundler_gems/ruby/1.8/specifications
