<div class="comments">
  <h5>Comments</h5>
  <ul>
    <% comments.each do |comment| %>
      <li><%= time_ago_in_words(comment.created_at) %> ago, <%= comment.user.login %> said: <%= comment.body %> </li>
    <% end %>
  </ul>
  <%= render :partial => "comments/comment", :locals => {:subject => subject} %>
</div>