<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Start Time</th>
        <th>Location</th>
        <th>Level</th>
    </tr>
  </thead>

  <tbody>
  <%@presentations.each do |p|%>
      <tr>
        <td><%=p.title%></td>
        <td><%=format_time(p.start_time)%></td>
        <td><%=p.location%></td>
        <td><%=p.level%></td>
      </tr>
  <%end%>
  </tbody>
  
</table>