<!DOCTYPE html>
<html>
<head>
  <title>Precomp2011</title>
  <%= javascript_include_tag 'jquery.min', 'rails', 'application' %>
  <%= javascript_include_tag "views/#{controller.controller_name}/#{controller.action_name}" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
